@model List<UserManagement.Areas.Identity.Data.AuditLog>
@{
    ViewData["Title"] = "Audit Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Audit Logs</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date Time</th>
            <th>Email Address</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
        <tr>
            <td>@log.DateTime</td>
            <td>@log.EmailAddress</td>
            <td>@log.Description</td>
        </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="Back" asp-controller="AuditList">
    <button class="btn btn-info">Back</button>
</form>